

@font-face {
  font-family: 'MilligramHeavy';
  src: url('../assets/OTF/Milligram-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'MilligramItalic';
  src: url('../assets/OTF/Milligram-HeavyItalic.otf') format('opentype');
}

  body {
    margin: 0;
    background-color: #fff;
    color: #000;
    font-family: 'MilligramHeavy', sans-serif;
    font-size: 20px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }
  
  header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 40px 20px 40px;
    border-bottom: 1px dotted #000;
    background-image: linear-gradient(to right, #000 30%, transparent 0%);
    background-size: 6px 1px;
    background-repeat: repeat-x;
    background-position: bottom;
    box-sizing: border-box;
  }
  
  .logo {
    color: red;
    font-family: 'MilligramHeavy', serif;
    font-size: 36px;
    margin-left: -6px; /* nudges first nav item down to match logo */
  }
  
  .description {
    font-family: 'MilligramItalic', serif;
    background-color: #000;
    color: yellow;
    font-size: 20px;
    max-width: flex;
    text-align: center;
  }
  
  .nav {
    grid-row: 2;
    padding: 40px 20px 20px 20px;
    border-right: 1px dotted #000;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }
  
  .nav a {
    text-decoration: none;
    color: blue;
    font-size: 22px;
    margin-left: 18px; /* nudges first nav item down to match logo */
  }
  
  .main {
    padding: 40px;
    background-color: #d8e3e7;
  }
  .section-title {
  font-family: 'MilligramHeavy', sans-serif;
  text-decoration: underline; 
  font-size: 24px;
  margin-bottom: 30px;
}

.work-section {
  margin-bottom: 100px;
}

.work-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.work-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.work-box {
  aspect-ratio: 1 / 1;
  border: 10px solid #000;
  background-color: #fff;
}