body {
    margin: 0;
    font-family: sans-serif;
    color: #111;
    background-color: #f9f9f9;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
  }
  
  .sidebar .logo {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #111;
  }
  
  .content {
    margin-left: 220px;
    padding: 40px;
    max-width: 800px;
  }
  